.campo {
    text-align: center;
    font-size: 2em;
}

canvas {
    background-color: aqua;
    margin-left: 200px;
}

.box, .box2{
    display: inline-block;
    width: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
    background-color: black;
    color: white;
}

.box3{
    display: inline-block;
    width: 40px;
    font-size: 1.5em;
}


.box:hover {
    background-color: white;
    color: black;
    cursor: grab;
}

button{
    background-color: red;
    padding: 10px;
    color: white;
    font-size: 2em;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: grab;
}

